* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #1F2E35;
}
body .header {
  position: fixed;
  padding: 0 140px;
  width: 100%;
  background-color: #1F2E35;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.nav .header__logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #fff;
}
.nav .header__logo span {
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
  padding-left: 16px;
}
.nav .header-right {
  display: flex;
  align-items: center;
}
.nav .header-right .header__link {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  padding-right: 30px;
}
.nav .header-right .btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 22px;
  border-radius: 5px;
  margin: 0 12px;
  cursor: pointer;
}
.nav .header-right .header__btn__sign-in {
  background-color: #1F2E35;
  border: 1px solid #BCD0E5;
  color: #fff;
}
.nav .header-right .header__btn__sign-up {
  border: none;
  background-color: #02897A;
  border-radius: 5px;
  color: #fff;
}
.nav .header-right img {
  padding-left: 12px;
}

.main {
  padding-top: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-box {
  background-color: #1F2E35;
  padding: 25px 145px 0 145px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 555px;
}

.four-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  width: 100%;
  flex-direction: column;
  padding: 150px 145px 150px 145px;
}
.four-section .four__cintent {
  display: flex;
  align-items: center;
  gap: 60px;
}
.four-section h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  padding-bottom: 50px;
}
.four-section .four-text-item {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 30px;
}
.four-section .four-text-item .four__list {
  display: flex;
  align-items: center;
  border-radius: 10px;
  gap: 14px;
}
.four-section .four-text-item p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding: 0 5px;
}

.custum {
  background: #22343D;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 50px 0;
}
.custum h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}
.custum h2 {
  padding: 16px 0 8px;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
}
.custum p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  padding-bottom: 30px;
}
.custum button {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  padding: 11px 18px;
  border-radius: 5px;
  border: none;
  background-color: #02897A;
  color: #fff;
}

.tariflar {
  color: #fff;
  padding: 30px 0 150px 0;
}
.tariflar .tariflar__text {
  padding-bottom: 45px;
}
.tariflar .tariflar__text h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  padding: 25px 0 16px;
  text-align: center;
}
.tariflar .tariflar__text h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
}
.tariflar .tariflar__text p {
  text-align: center;
}
.tariflar .tariflar__box {
  display: flex;
  gap: 70px;
}
.tariflar .tariflar__box .tarif__item {
  width: 322px;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
  color: #22343D;
}
.tariflar .tariflar__box .tarif__item h2 {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  line-height: 51px;
  padding: 27px 0 8px 0;
}
.tariflar .tariflar__box .tarif__item span {
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  line-height: 24px;
  padding-bottom: 16px;
}
.tariflar .tariflar__box .tarif__item .card {
  display: flex;
  align-items: start;
  justify-content: center;
}
.tariflar .tariflar__box .tarif__item .card h1 {
  color: #02897A;
  font-size: 76px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0.2px;
}
.tariflar .tariflar__box .tarif__item .card .card-box {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding-left: 8px;
}
.tariflar .tariflar__box .tarif__item .card .card-box span {
  color: #02897A;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.1px;
  padding-top: 18px;
}
.tariflar .tariflar__box .tarif__item .card .card-box .month {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.1px;
  color: #AFAFAF;
  padding-top: 0px;
  position: relative;
  bottom: 8px;
}
.tariflar .tariflar__box .tarif__item p {
  padding-top: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.2px;
}
.tariflar .tariflar__box .tarif__item button {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  padding: 11px 18px;
  border-radius: 5px;
  border: none;
  background-color: #02897A;
  margin: 38px 0 32px;
  cursor: pointer;
}
.tariflar .tariflar__box .premium {
  background-color: #02897A;
  color: #fff;
}
.tariflar .tariflar__box .premium .card h1 {
  color: #fff;
}
.tariflar .tariflar__box .premium .card .card-box span {
  color: #fff;
}
.tariflar .tariflar__box .premium .card .card-box p {
  color: #E0E0E0;
}
.tariflar .tariflar__box .premium button {
  background-color: #fff;
  color: #02897A;
  cursor: pointer;
}

.asced {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.asced h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 50px;
}
.asced p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  padding: 8px 0 35px;
}
.asced .asced__box {
  padding: 0 220px;
}
.asced .asced__box .asced__item {
  display: flex;
  align-items: center;
  padding: 22px 0 16px;
  border-bottom: 1px solid #474747;
}
.asced .asced__box .asced__item h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.asced .asced__box .asced__item p {
  padding: 14px 0 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.asced .asced__box .asced__item img {
  display: block;
  padding-right: 16px;
  cursor: pointer;
}
.asced .asced__box .asced__item .asced__item__minus {
  display: flex;
  align-items: center;
}

.getThis {
  display: flex;
  color: #fff;
  margin: 150px 0;
  background-color: #02897A;
  border-radius: 32px;
}
.getThis .getThis__left {
  padding-left: 50px;
  text-align: start;
}
.getThis .getThis__left h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 48.45px;
  padding-top: 50px;
}
.getThis .getThis__left .getThis__btn {
  padding: 13px 35px 7px 33px;
  color: #02897A;
  border-radius: 5px;
  background-color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-top: 60px;
}

.footer {
  color: #fff;
}
.footer .footer__top {
  display: flex;
  justify-content: space-evenly;
}
.footer .footer__top .footer__logo__link a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-bottom: 25px;
}
.footer .footer__top .footer__logo__link a span {
  font-size: 30px;
  font-weight: 700;
  line-height: 28px;
  padding-left: 16px;
}
.footer .footer__top .footer__logo__link .footer__link {
  display: flex;
}
.footer .footer__top .footer__logo__link .footer__link a {
  padding-right: 16px;
}
.footer .footer__top .footer__logo__link .footer__link a:last-child {
  padding-right: 0px;
}
.footer .footer__top .footer__resourse h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  padding-bottom: 8px;
}
.footer .footer__top .footer__resourse .ftResourse__link {
  display: flex;
  flex-direction: column;
}
.footer .footer__top .footer__resourse .ftResourse__link a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  color: #fff;
}
.footer .footer__top .footer__legal h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  padding-bottom: 8px;
}
.footer .footer__top .footer__legal .ftResourse__link {
  display: flex;
  flex-direction: column;
}
.footer .footer__top .footer__legal .ftResourse__link a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  color: #fff;
}
.footer .footer__top .footer__signup {
  display: flex;
  flex-direction: column;
}
.footer .footer__top .footer__signup h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  padding-bottom: 34px;
}
.footer .footer__top .footer__signup .footer__form {
  display: flex;
  flex-direction: column;
}
.footer .footer__top .footer__signup .footer__form .footer__input {
  width: 325px;
  height: 48px;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 28px;
  padding: 10px 128px 10px 15px;
  margin-bottom: 21px;
}
.footer .footer__top .footer__signup .footer__form .footer__signupBtn {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  background-color: #02897A;
  border: none;
  line-height: 24px;
  width: 131px;
}
.footer .footer__text {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 24px;
}/*# sourceMappingURL=style.css.map */